# Dependencies
node_modules/

# Build output
dist/

# Caches
.cache
*.tsbuildinfo

# Logs
*.log

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Bun
bun.lockb
